<div id="test">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= outcome.name %>">
</div>
<br>
<div>
    <label for="href">Link</label>
    <input type="text" name="href" id="href" value="<%= outcome.href %>">
</div>
<br>
<div>
    <label for="dsc">Description</label>
    <textarea name="dsc" id="dsc"><%= outcome.dsc %></textarea>
</div>