<header>
    <nav>
        <a href="/">DungeonTables.net</a>
        <ul>
            <li><a href="/gen">Random Generator</a></li>
            <li><a href="/outcomes">Browse Outcomes</a></li>
            <li><a href="/outcomes/new">Create Outcome</a></li>
            <li><a href="/tables">Browse Tables</a></li>
            <li><a href="/tables/new">Create Table</a></li>
        </ul>
    </nav>
</header>