<header>
    <nav>
        <a href="/">DungeonTables.net</a>
        <ul>
            <li><a href="/gen">Random Generator</a></li>
            <li><a href="/results">Browse Results</a></li>
            <li><a href="/results/new">Create Result</a></li>
            <li><a href="/tables">Browse Tables</a></li>
            <li><a href="/tables/new">Create Table</a></li>
        </ul>
    </nav>
</header>