<h2>Create Table</h2>
<form action="/tables" method="POST">
  <%- include(`_form_fields`); %>
  <%- include(`_table`); %>
  <br>
  <br>
  <a href="/tables">Cancel</a>
  <button type="submit">Create</button>
</form>
<form id="modifyRows" action="/tables/<%= table.id %>/modifyRows" method="POST">
</form>