<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DungeonTables.net</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/jquery/jquery.js"></script>
    <!-- <script defer src="/javascripts/dgt.js"></script> -->
    <!-- <script src="/javascripts/ejs.min.js"></script> -->
    <!-- <script src="ejs.min.js"></script> -->
</head>
<body>
    <%- include(`../partials/header.ejs`); %>
    <%- include(`../partials/errorMessage.ejs`); %>
    <br>
    <%- body %>
</body>
</html>