<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DungeonTables.net</title>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/javascripts/dgt.js"></script>
</head>
<body>
    <%- include(`../partials/header.ejs`); %>
    <%- include(`../partials/errorMessage.ejs`); %>
    <br>
    <%- body %>
</body>
</html>