<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= result.name %>">
</div>
<br>
<div>
    <label for="href">Link</label>
    <input type="text" name="href" id="href" value="<%= result.href %>">
</div>
<br>
<div>
    <label for="dsc">Description</label>
    <input type="textarea" name="dsc" id="dsc" value="<%= result.dsc %>">
</div>